<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/mystyle.css">
    <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
    <title>Home</title>
</head>

<body>
    <header>
        <nav class="header__nav" id="navbar">
            <ul>
                <li><a href="/views/user.html">USER</a></li>
                <li><a href="/views/register.html">REGISTER</a></li>
                <li><a class="active" href="/views/index.html">HOME</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <!-- Email input -->
        <section class="vh-100 gradient-custom">
            <div class="container py-5 h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                        <div class="card bg-light text-dark" style="border-radius: 1rem;">
                            <div class="card-body p-5 text-center">

                                <div class="mb-md-5 mt-md-4 pb-5">

                                    <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
                                    <div class="form-outline form-white mb-4">
                                        <input type="email" id="inputUserName" class="form-control form-control-lg" />
                                        <label class="form-label" for="typeEmailX">Email</label>
                                    </div>

                                    <div class="form-outline form-white mb-4">
                                        <input type="password" id="inputPassword"
                                            class="form-control form-control-lg" />
                                        <label class="form-label" for="typePasswordX">Password</label>
                                    </div>
                                    <button class="btn btn-outline-dark btn-lg px-5" type="submit" onclick="login();">Login</button>

                                    <div class="d-flex justify-content-center text-center mt-4 pt-1">
                                        <a href="#!" class="text-white"><i class="fab fa-facebook-f fa-lg"></i></a>
                                        <a href="#!" class="text-white"><i
                                                class="fab fa-twitter fa-lg mx-4 px-2"></i></a>
                                        <a href="#!" class="text-white"><i class="fab fa-google fa-lg"></i></a>
                                    </div>

                                </div>

                                <div>
                                    <p class="mb-0 text-dark">Don't have an account? <a href="/views/register.html"
                                            class="text-dark-50 fw-bold">Sign Up</a>
                                    </p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- this is the login section-->
    </main>

    <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
    <script src="/javaScript/storeManager.js"></script>
    <script src="/javaScript/app.js"></script>
    <script src="/javaScript/login.js"></script>
    <!--Create register.html with a form with the next fields:  email, password, first name, last name, age, address, phone number, payment, color-->
</body>

</html>