<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <header>
        <h1>My awesome user registration system</h1>
    </header>
    <main>
        <h2>Add a new user</h2>
        <!--email, password, first name, last name, age, address, phone number, payment, color-->
        <div>
            <div class="input-container">
                <label for="">Email:</label>
                <input type="email" name="" id="txtEmail">
            </div>
            <div class="input-container">
                <label for="">Password:</label>
                <input type="password" name="" id="txtPassword">
            </div>
            <div class="input-container">
                <label for="">First name:</label>
                <input type="name" name="" id="txtFName">
            </div>
            <div class="input-container">
                <label for="">Last name:</label>
                <input type="name" name="" id="txtLName">
            </div>
            <div class="input-container">
                <label for="">Age:</label>
                <input type="number" name="" id="txtAge">
            </div>
            <div class="input-container">
                <label for="">Address:</label>
                <input type="text" name="" id="txtAddress">
            </div>
            <div class="input-container">
                <label for="">Phone number:</label>
                <input type="phone" name="" id="txtPhone">
            </div>
            <div class="input-container">
                <label for="">Payment method</label>
                <select name="" id="selPayment">
                    <option value="cash">Cash</option>
                    <option value="credit">Credit card</option>
                    <option value="paypal">Paypal</option>
                </select>
            </div>
            <div class="input-container">
                <label for="">Favorite color:</label>
                <input type="color" name="" id="selColor">
            </div>
            <button onclick="register();">Register</button>
        </div>
    </main>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js
    "></script>
    <script src="app.js"></script>
</body>

</html>