<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/mystyle.css">
    <title>Document</title>
</head>

<body>
    <header>
        <nav class="header__nav" id="navbar">
            <ul>
                <li><a class="active" href="/views/user.html">USER</a></li>
                <li><a href="/views/register.html">REGISTER</a></li>
                <li><a href="/views/index.html">HOME</a></li>
            </ul>
        </nav>
        <h1>User page</h1>
    </header>
</body>

</html>